:root {
  --theme-peach: #f6cedb;
  --theme-pink: #f3a7c2;
  --theme-brick: #ad6c80;
  --theme-brown: #4d2e2e;
  --theme-cream: #fff3f6;
  --theme-green: #b8c6a3;
  --theme-red-sand: #907380;
  --theme-gold: #ffb347;
  --theme-coral: #ff6b6b;
}

* {
  margin: 0;
  color: #ffffff;
  /* font-family: "Petit Formal Script", cursive; */
  /* font-family: "Pacifico", cursive; */
  /* font-family: "Ribeye", serif; */
  /* font-family: "Charm", cursive; */
  font-family: "Libre Bodoni", serif;
  font-weight: 200;
}

h1 {
  font-size: 22vw;
}

h2 {
  font-size: 11vw;
  line-height: 8vw;
}

h3 {
  font-size: 9vw;
  margin-top: 4vw;
}

p {
  font-family: "Nunito Sans", sans-serif;
  font-size: 5vw;
  font-weight: 600;
  line-height: 6vw;
}

/* anything less is phone */
/* tablet */
/* this is for between this # and the next */
@media (min-width: 768px) {
  h1 {
    font-size: 13vw;
  }

  h2 {
    font-size: 10vw;
    line-height: 7vw;
  }

  h3 {
    margin-top: 3vw;
    margin-bottom: -1vw;
    font-size: 7vw;
  }

  p {
    font-size: 3vw;
    line-height: 4vw;
  }

  /* main */
  .MuiDateCalendar-root {
    width: 100% !important;
  }

  /* top year */
  .MuiTypography-subtitle1 {
    font-size: 4vw !important;
  }

  /* top month/day */
  .MuiTypography-h4 {
    font-size: 4vw !important;
  }

  /* bottom month/year */
  .MuiPickersCalendarHeader-label {
    font-size: 3.5vw !important;
  }

  /* calendar picker body */
  .MuiDateCalendar-viewTransitionContainer {
    padding: 2vw 7vw !important;
  }

  /* day of week */
  .MuiDayCalendar-header {
    justify-content: space-between !important;
  }

  /* day of week */
  .MuiDayCalendar-weekDayLabel {
    font-size: 3.5vw !important;
  }

  /* number row */
  .MuiDayCalendar-weekContainer {
    justify-content: space-between !important;
  }

  /* individual dumber */
  .MuiPickersDay-root {
    font-size: 2.5vw !important;
  }
}

/* laptop */
@media (min-width: 1024px) {
  h2 {
    font-size: 7vw;
    line-height: 6vw;
  }

  p {
    font-size: 2.5vw;
    line-height: 3.5vw;
  }

  /* top year */
  .MuiTypography-subtitle1 {
    font-size: 3vw !important;
  }

  /* top month/day */
  .MuiTypography-h4 {
    font-size: 3vw !important;
  }

  /* bottom month/year */
  .MuiPickersCalendarHeader-label {
    font-size: 3vw !important;
  }

  /* day of week */
  .MuiDayCalendar-weekDayLabel {
    font-size: 3vw !important;
  }

  /* individual dumber */
  .MuiPickersDay-root {
    font-size: 2vw !important;
  }
}

/* desktop */
@media (min-width: 1280px) {
  h1 {
    font-size: 9vw;
  }

  h2 {
    font-size: 6vw;
    line-height: 5vw;
  }

  h3 {
    font-size: 5vw;
  }

  p {
    font-size: 2vw;
    line-height: 3vw;
  }

  /* top year/month container */
  .MuiPickersLayout-toolbar {
    padding: 2vw !important;
  }

  /* bottom month/year row */
  .MuiPickersCalendarHeader-root {
    padding: 1vw 2vw 0 2vw !important;
  }

  /* day of week */
  .MuiDayCalendar-weekDayLabel {
    font-size: 2.5vw !important;
  }

  /* individual dumber */
  .MuiPickersDay-root {
    font-size: 1.5vw !important;
  }
}

/* just for calendar */
@media (min-width: 1620px) {
  /* bottom month/year row */
  .MuiPickersCalendarHeader-root {
    padding: 1vw 4vw 0 4vw !important;
  }

  /* calendar picker body */
  .MuiDateCalendar-viewTransitionContainer {
    padding: 1vw 9vw !important;
  }
}