:root {
  --theme-peach: #f6cedb;
  --theme-pink: #f3a7c2;
  --theme-brick: #ad6c80;
  --theme-brown: #4d2e2e;
  --theme-cream: #fff3f6;
  --theme-green: #b8c6a3;
  --theme-red-sand: #907380;
  --theme-gold: #ffb347;
  --theme-coral: #ff6b6b;
}

* {
  margin: 0;
  color: #ffffff;
  /* font-family: "Petit Formal Script", cursive; */
  /* font-family: "Pacifico", cursive; */
  /* font-family: "Ribeye", serif; */
  /* font-family: "Charm", cursive; */
  font-family: "Libre Bodoni", serif;
  font-weight: 200;
}

h1 {
  font-size: 22vw;
  line-height: 12vw;
}

h2 {
  font-size: 11vw;
  line-height: 8vw;
}

h3 {
  font-size: 4vw;
}

p {
  font-family: "Nunito Sans", sans-serif;
  font-size: 5vw;
  font-weight: 600;
}


/* phone */
@media (min-width: 481px) {
  h1 {
    font-size: 10px;
  }
}

/* tablet */
@media (min-width: 768px) {
  h1 {
    font-size: 20px;
  }
}

/* laptop */
@media (min-width: 1024px) {
  h1 {
    font-size: 30px;
  }
}

/* desktop */
@media (min-width: 1280px) {
  h1 {
    font-size: 40px;
  }
}